services:
  gotify-ntfy-adapter:
    build:
      context: .
      dockerfile: Dockerfile
      
    image: gotify-ntfy-adapter:local
    
    container_name: gotify-ntfy-adapter
    restart: unless-stopped

    ports:
      - 8078:8080

    env_file:
      - stack.env

    secrets:
      - ntfy_password
      - token_topic_map

secrets:
  ntfy_password:
    external: true
  token_topic_map:
    external: true
