services:
  gotify-ntfy-adapter:
    build:
      context: .
      dockerfile: Dockerfile
      
    image: gotify-ntfy-adapter:local
    
    container_name: gotify-ntfy-adapter
    restart: unless-stopped

    ports:
      - 8078:8080

    env_file:
      - stack.env

    volumes:
      - gotify-notify-adapter_secrets:/run/secrets:ro

volumes:
  gotify-notify-adapter_secrets:
    external: true
