services:
  gotify-ntfy-adapter:
    build:
      context: .
      dockerfile: Dockerfile
      
    image: gotify-ntfy-adapter:local
    
    container_name: gotify-ntfy-adapter
    restart: unless-stopped

    ports:
      - 8078:8080

    env_file:
      - stack.env

    volumes:
      - gotify-notify-adapter_secrets/ntfy_password:/run/secrets/ntfy_password:ro
      - gotify-notify-adapter_secrets/token_topic_map.json:/run/secrets/token_topic_map:ro


    secrets:
      - ntfy_password
      - token_topic_map

secrets:
  ntfy_password:
    external: true
  token_topic_map:
    external: true

volumes:
  gotify-notify-adapter_secrets:
    external: true
