services:
  gotify-ntfy-adapter:
    image: gotify-ntfy-adapter:local
    
    container_name: gotify-ntfy-adapter
    restart: unless-stopped

    ports:
      - 8078:8080
      
    environment:
      NTFY_SERVER: $NTFY_SERVER
      NTFY_USERNAME: $NTFY_USERNAME

      NTFY_PASSWORD_FILE: "/run/secrets/ntfy_password"
      TOKEN_TOPIC_MAP_FILE: "/run/secrets/token_topic_map"

      DEFAULT_TOPIC: $DEFAULT_TOPIC
      DEFAULT_TAGS: $DEFAULT_TAGS
      TITLE_PREFIX: $TITLE_PREFIX

    secrets:
      - ntfy_password
      - token_topic_map

secrets:
  ntfy_password:
    external: true
  token_topic_map:
    external: true
